#container {
    padding: 10px;
    width: 90vw;
}

h1.talk {
    margin:0;
    padding:0;
    color:rgb(55, 107, 251);
}

h1.name {
    margin:0;
    padding:0
}

@media only screen and (min-width: 768px) { 
    #container {
        width: 60vw;
        margin: 0 auto;
    }

    #speaker {
        display:flex;
    }

    #speaker>div {
        padding: 10px;
    }

  }