.tree, .location, .dates, #tickets {
    display: none;
}

#hero {
    text-align: center;
}

#graphql, #preconf, #postconf {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dates {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 125px;
    margin: 0;
    padding-left:10px;
    font-weight: 700;
}

#preconf, #train, #kids {
    background-color: #275197;
    color: #fff;
}

#mixer {
    background-color: #fff;
    color: #565354;   
}

#graphql .cta, #preconf .cta, #postconf .cta {
    margin-left: 25px;
}

#train .cta, #kids .cta {
    background-color: #fff;
    border: 1px solid #fff;
}

#graphql, #conf, #code-of-conduct, #organizers, #contact {
    background-color: #ccc;
}

#conf, #train, #mixer, #training, #kids {
    padding-left: 20px;
}

#code-of-conduct, #venue, #lodging, #speakers, #organizers, #sponsors, #contact {
    padding: 20px;
}

a.primary {
    background-color: #FF9900;
    color: #fff;
    border: 1px solid #fff;
    font-size: 2.5vh;
}

#speakers span {
    color: rgb(55, 107, 251);
}

@media only screen and (min-width: 768px) { 
    #content {
        width: 97%;
    }

    #hero img {
        height: 100%;
        width: 100%;
    }

    .tree, .location, .dates, #tickets {
        display: inline;
    }

    #hero {
        display: grid;
        grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-rows: 20vw;
    }

    #graphql, #preconf, #postconf {
        display: flex;
    }

    #conf {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 20px;
        padding: 20px;   
    }

    #conf img {
        width: 20vw;
    }

    #theconference {
        display: grid;
        grid-template-columns: 1fr;    
    }

    #tickets {
        text-align: center;
    }

    #daytwo {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        grid-gap: 20px; 
    }

    #cta div {
        display: inline;
    }

    #hotels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    #platinum {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        grid-template-rows: 25vw;
    }

    #gold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-rows: 10vw;
    }

    #silver {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-template-rows: 9vw;
    }

    #community {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-rows: 8vw;
    }

    #platinum div, #gold div, #silver div, #community div {
        align-self: center;
        justify-self: center;
    }

    .placeholder {
        padding: 20px;
        border: 1px #000 dotted;
    }

  }