.tree, .sticker-location, .sticker-dates, a.sponsorBtn {
    display: none;
}

#hero {
    text-align: center;
    margin-bottom:0px;
}

#hero img, #conf img, #postconf img {
    height: 200px;
}

#preconf {
    text-align: center;
}

#postconf>div {
    padding-right: 30px;
}

#preconf, #postconf {
    font-size: 1.6vh;
}

section {
    padding: 20px 30px;
}

.dates {
    color: #275197;
    font-family: freight-sans-pro;
    font-size: 2.5vh;
}

#schedule, #conf, #venue, #organizers, #contact {
    background-color: #eee;
}

a.primary {
    background-color: #FF9900;
    color: #fff;
    border: 1px solid #fff;
    font-size: 2.5vh;
}

#speakers span {
    color: rgb(55, 107, 251);
}

@media only screen and (min-width: 768px) { 

    #hero img, #postconf img {
        height: 100%;
        width: 100%;
    }

    .tree, .location, .sticker-dates, .sticker-location, #tickets img, a.sponsorBtn{
        display: inline;
    }

    #hero {
        display: grid;
        grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-rows: 20vw;
    }
   
    #preconf {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

   #postconf {
        display: flex;
    }

    #cta div {
        display: inline;
    }

    #hotels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    
    #sponsors div {
        text-align: center;
        align-self: center;
        justify-self: center;
    }

    #sponsors img {
        max-height: 100%;
        max-width: 100%;
    }

    #gold, #silver, #community {
        display: flex;
        flex-wrap: wrap;
    }

    #sponsors div {
        padding: 15px;
    }

    #gold div {
        flex: 1 1 46%;
    }

    #gold img {
        height: 225px;
    }

    #silver div {
        flex: 1 1 28%;
    }

    #community div {
        flex: 1 1 20%;
    }



    .placeholder {
        padding: 20px;
        border: 1px #000 dotted;
    }

  }