.tree, .sticker-location, .sticker-dates, #tickets img {
    display: none;
}

#hero {
    text-align: center;
    margin-bottom:30px;
}

#hero img, #conf img, #postconf img {
    height: 200px;
}

section h2, section p, section .cta {
    /*margin: 0px 20px 5px 20px;*/
}

section {
    padding: 20px 30px;
}

#preconf>div, #postconf>div {
    padding-right: 30px;
}
.dates {
    color: #275197;
    font-family: freight-sans-pro;
    font-size: 2.5vh;
}

#conf, #code-of-conduct, #organizers, #contact {
    background-color: #ccc;
}

a.primary {
    background-color: #FF9900;
    color: #fff;
    border: 1px solid #fff;
    font-size: 2.5vh;
}

#speakers span {
    color: rgb(55, 107, 251);
}

@media only screen and (min-width: 768px) { 

    #content {
        /*width: 95%;*/
    }

    #hero img, #conf img, #postconf img {
        height: 100%;
        width: 100%;
    }

    .tree, .location, .sticker-dates, .sticker-location, #tickets img {
        display: inline;
    }

    #hero {
        display: grid;
        grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-rows: 20vw;
    }

    #preconf, #postconf {
        display: flex;
    }

    #conf {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 30px;
    }

    #conf>div {
        padding-right: 30px;
    }

    #conf img {
        width: 20vw;
    }

    #theconference {
        display: grid;
        grid-template-columns: 1fr;    
    }

    #tickets {
        text-align: center;
    }

    #scholarships {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        grid-gap: 20px; 
    }

    #cta div {
        display: inline;
    }

    #hotels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    
    #sponsorships img {
        height: 100%;
        width: 100%;
    }

    #platinum {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        grid-template-rows: 25vw;
    }

    #gold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-rows: 15vw;
    }

    #silver {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-template-rows: 9vw;
    }

    #community {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-rows: 8vw;
    }

    #platinum div, #gold div, #silver div, #community div {
        align-self: center;
        justify-self: center;
    }

    .placeholder {
        padding: 20px;
        border: 1px #000 dotted;
    }

  }