footer {
    text-align:center;
    background-color: #275197;
    color: #fff;
}

footer a {
    color: #fff;
}

footer ul {
    display: inline;
}
footer li {
    list-style: none;
    display: inline-block;
    margin-right:2vmax;
}

footer a {
    font-size: 1em;
}