header {
    padding: 10px;
    background-color: rgb(55, 107, 251);
}

nav #logo {
    height: 1em;
    width: 1em;
}

nav a {
    font-size: 2vmax;
    color: #fff;
    text-decoration: none;
    margin-right:3vmax;
}

nav a:hover {
    background-color: rgb(55, 107, 251);
    color: #fff;
}

@media only screen and (min-width: 768px) { 
    nav a {
        font-size: 1.6em;
    }
  }