header {
    padding: 10px;
    background-color: rgb(55, 107, 251);
}

nav a {
    font-size: 3.3vmax;
    font-family: 'Viga', sans-serif;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(55, 107, 251);
    color: #fff;
}

#menu {
    display: grid;
    justify-items: center;
}


nav.show-true a {
    display:block;
}

nav.show-false a {
    display:none;
}

@media only screen and (min-width: 768px) { 
    #menu {
        display: block;
    }

    nav a {
        margin-right:3vmax;
        font-size: 1.6em;
    }

    nav button {
        display:none;
    }

    nav.show-true a, nav.show-false a {
        display:inline;
    }
  }