header {
    padding: 10px;
    background-color: #275197;
}

nav {
    text-align:center;
}

nav a {
    font-size: 3.3vmax;
    font-family: 'freight-sans-pro', sans-serif;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a:visited {
    color: #fff;
}

#menu {
    display: grid;
    justify-items: center;
}


nav.show-true a {
    display:block;
}

nav.show-false a {
    display:none;
}

@media only screen and (min-width: 768px) { 
    #menu {
        display: block;
    }

    nav a {
        margin-right:4vmax;
        font-size: 1.2em;
    }

    nav button {
        display:none;
    }

    nav.show-true a, nav.show-false a {
        display:inline;
    }
  }