#organizers div {
    padding: 10px;
    margin: 10px;
    text-align:center;
}

@media only screen and (min-width: 768px) { 
    #organizers {
        display: flex;
        flex-wrap: wrap;
    }

    #speakers div {
        width: 250px;
    }
}