#speakers div {
    padding: 10px;
    margin: 10px;
    text-align:center;
}

img.avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 2px solid #666;
}

@media only screen and (min-width: 768px) { 
    #speakers {
        display: flex;
        flex-wrap: wrap;
    }

    #speakers div {
        width: 250px;
    }
}