#speakers div {
    padding: 10px;
    margin: 10px;
    text-align:center;
}

img.avatar {
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
    border: 2px solid #666;
}

@media only screen and (min-width: 768px) { 
    #speakers {
        width: 70vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}