html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2.5vh;
  color: #565354;
  background-color: #fff;
  min-height: 100%;
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h1, h2 {
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
}

h3, h4 {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 6vh;
}

h2 {
  font-size: 4.5vh;
}

h3 {
  font-size: 3vh;
}

h4 {
  font-size: 2vh;
}

#container {
  display: grid;
  grid-template-rows: auto auto 8vmax;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Typeform */
iframe#typeform-full{ position: absolute; left:0; right:0; bottom:0; top:4.5em; border:0; }

a.cta {
  font-size: 16px;
  border: 1px solid rgb(55, 107, 251);
  color: rgb(55, 107, 251);
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  margin-right:10px;
  display: inline-block;
  width: 175px;
  margin-bottom: 10px;
  text-align: center;
}


a.cta:hover {
  background-color: rgb(55, 107, 251);
  color: #fff;
}

a.soon {
  color: #999;
  border: 1px solid #999;
}

a.soon:hover {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}

img.avatar {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
  border: 2px solid #666;
}