html {
  height: 100%;
}

body {
  font-family: 'adelle', sans-serif;
  font-weight: 300;
  font-size: 2vh;
  background-color: #fff;
  color: #565354;
  min-height: 100%;
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'freight-sans-pro', sans-serif;
}

h1 {
  font-size: 3.5vh;
}

h2 {
  font-size: 3vh;
}

h3 {
  font-size: 2.5vh;
}

h4 {
  font-size: 2vh;
}

#container {
  display: grid;
  grid-template-rows: auto auto auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Typeform */
iframe#typeform-full{ position: absolute; left:0; right:0; bottom:0; top:4.5em; border:0; }

a.cta {
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgb(55, 107, 251);
  background-color: #fff;
  color: rgb(55, 107, 251);
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  margin-right:10px;
  display: inline-block;
  width: 175px;
  margin-bottom: 10px;
  text-align: center;
}

a.cta:hover {
  text-decoration: underline;
}

a.soon {
  color: #999;
  border: 1px solid #999;
}

a.soon:hover {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}

img.avatar {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 2px solid #666;
}

.price {
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
}

.exclaim {
  border: 1px solid #333;
  background-color: yellow;
  padding:10px;
  box-shadow: 3px 3px 0 0 #000;
}